<div  style="float: left;"> 
	 <div> 
<b>Employee list</b>  search:<input type="search" ng-model="search" ><button ng-click="create()" class="btn btn-success">create employee </button>
		<table border="1" class="table table-striped" >  
				<tr>  
				    <th>First name</th>  
				    <th>Last name</th>  
				    <th>Email</th>  
				    <th>Phone</th>  
				    <th>Edit/Delete</th>  
				</tr>  
			  <tr id="tr-{{x.id}}" ng-repeat="x in employeeList | filter:search">  
			    <td>{{ x.firstname }}</td>  
			    <td>{{ x.lastname }}</td>  
			    <td>{{ x.email }}</td>  
			    <td>{{ x.phone }}</td>   
			    <td>  
		        <button  ng-click="updaterow(x.id)" class="glyphicon glyphicon-edit btn btn-info"></button>  
		        <button  ng-click="del(x.id)" class="glyphicon glyphicon-trash btn btn-danger"></button>  
		    </td>  
		  </tr>  
		  </table> 
	  </div>
	  <div id="dialog" title="form" style="display:none">     
	    <form>  
	        <table>  
				<tr>  
					<td>first name:</td>  
					<td><input type="text" ng-model="firstname"/></td>  
				</tr>
				<tr>  
					<td>last name:</td>  
					<td><input type="text" ng-model="lastname"/></td>  
				</tr>   
				<tr>  
					<td>email:</td>  
					<td><input type="email" ng-model="email"/></td>  
				</tr>  
				<tr>  
					<td>Phone:</td>   
					<td><input type="phone"  ng-model="phone"/></td>  
				</tr>
				<tr>  
					<td>Username:</td>   
					<td><input type="text"  ng-model="username"/></td>  
				</tr>
				<tr>  
					<td>Password:</td>   
					<td><input type="text"  ng-model="password"/></td>  
				</tr>
				<tr>   
					<td>
						<input type="submit" value="Add" ng-click="add()" class="btn btn-success">
	                    <input type="submit" value="Save" ng-click="edit()" class="btn btn-info">
	                    <input type="submit" value="clear" ng-click="reset()">
					</td>  
				</tr>  
			</table>  
	    </form>  
	 </div>
	<div>
	   <form >
	     <table>
	       <tr><td>Employee name:</td><td>
		       <select ng-model="employee">
		         <option ng-repeat="x in employeeList " value="{{x.id}}">{{x.firstname}} {{x.lastname}}</option>
		      </select>
	      </td></tr>
	       <tr><td>Project name:</td> 
		         <td>
		           <select ng-model="project">
		            <option ng-repeat="x in response" value="{{x.id}}">{{x.projectname}}</option>
                   </select>
		        </td>
	       </tr>
	         <tr>
	           <td>
	               <input  ng-click="send(employee,project)" type="submit" value="submit" class="btn btn-success">
               </td>
             </tr>
	      </table>
	  </form>
	</div>  
</div>  